# Shared dependencies for simulator and BERT/ONNX extraction (project root + sim/)
torch
# https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2/torch-2.9.1%2Brocm7.2.0.lw.git7e1940d4-cp312-cp312-linux_x86_64.whl
# https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2/torchvision-0.24.0%2Brocm7.2.0.gitb919bd0c-cp312-cp312-linux_x86_64.whl
# https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2/triton-3.5.1%2Brocm7.2.0.gita272dfa8-cp312-cp312-linux_x86_64.whl
# https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2/torchaudio-2.9.0%2Brocm7.2.0.gite3c6ee2b-cp312-cp312-linux_x86_64.whl
transformers
onnx
onnxruntime
# onnxruntime-gpu  # optional: for GPU runtime measurement (install separately if you have CUDA)
dataclasses-json>=0.6.0
numpy
# Reinforcement learning dependencies
tensordict
torchrl>=0.11.0
# RL Environments (for initial testing, can be removed later once the pipeline is written)
gymnasium[all]
pygame
# Extra RL related dependencies
matplotlib
tqdm
hydra-core
wandb